PORT=3000
NODE_ENV=development
CATALOG_SERVICE_URL=http://localhost:4001
DISPATCH_SERVICE_URL=http://localhost:4002
NOTIFICATIONS_SERVICE_URL=http://localhost:4003
AUTH_SERVICE_URL=http://localhost:5001
PAYMENTS_SERVICE_URL=http://localhost:5002

